<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Express Passport</title>
  </head>
  <body>
    <% include ../partials/header %>

    <h1>Register Page</h1>

    <form action="" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>

      <div>
        <input type="submit" value="Register" />
      </div>
    </form>
  </body>
</html>
