<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Passport</title>
</head>

<body>
  <% include ../partials/header %>

    <h1>Settings Page</h1>

    <ul>
      <li>
        <a href="/connect/github">Connect to GitHub</a>
      </li>
      <li>
        <a href="/connect/twitter">Connect to Twitter</a>
      </li>
    </ul>
</body>

</html>
